BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 000000000001

ALTER TABLE users ADD COLUMN full_name VARCHAR(255);

ALTER TABLE users ADD COLUMN created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP;

ALTER TABLE users ADD COLUMN updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP;

ALTER TABLE users ALTER COLUMN email TYPE VARCHAR(255);

INSERT INTO alembic_version (version_num) VALUES ('000000000001') RETURNING alembic_version.version_num;

COMMIT;

